<!-- The App Component is the layout component -->
<app-navbar></app-navbar>

<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>

<div class="container mx-auto">
  <!-- ... -->
  <h2>Test</h2>
</div>

<div class="md:container md:mx-auto">
  <p style="background-color: olive;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Facere id hic corrupti nesciunt sint est numquam mollitia, deserunt adipisci dolore eius a iusto
     nam nihil tempora quam. Saepe, in dignissimos.
  Consequatur labore perferendis hic ex, voluptate totam quam sint repudiandae iste pariatur doloribus 
  placeat cupiditate expedita cum eius ipsum magnam est aperiam, sit necessitatibus unde quasi doloremque
   minima? Illum, inventore!</p>
</div>


